# Lab Assignment 6: Creating and Connecting to Databases
## DS 6001: Practice and Application of Data Science

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in a Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

**This assignment requires you to include tables and images.** 

To create a table in a markdown cell, I recommend using the markdown table generator here: https://www.tablesgenerator.com/markdown_tables. This interface allows you to choose the number of rows and columns, fill in those rows and colums, and push the "generate" button. The website will display markdown table code that looks like:
```
| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |
```
Copy the markdown code and paste it into a markdown cell in your notebook. Markdown will read the code and display a table that looks like this:

| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |

To put an image into a markdown cell in a Jupyter notebook, save the image as a .png or .jpg file in the same folder where you have saved your Jupyter notebook, and use markdown code that looks like this:
```
![](imagefile.png)
```
where you will need to replace `imagefile.png` with the name of your own image file. Alternatively, if you want to control the size of the image in your notebook, type the following code on its own line in the markdown cell:
```
<img src="imagefile.png" width="600">
```
Here the `width` option allows you to control the size of the image by making this number larger or smaller. **It is very important to upload each of your image files along with this notebook when you submit this assignment on Collab.**

### Problem 0
Import the following libraries, load the `.env` file where you store your passwords (see the notebook for module 4 for details), and turn off the error tracebacks to make errors easier to read:

In [1]:
import numpy as np
import pandas as pd
import wget
import sqlite3
import sqlalchemy
import requests
import json
import os
import sys
import dotenv

In [2]:
my_dir = !pwd

In [3]:
my_dir

['/Users/rca2t1/Dropbox/Courses/DSI-SDS/DS6001/DS6001_2020_08_ONLINE/HW/ANSWERS']

In [4]:
os.chdir(my_dir[0]) # change to the directory where your .env file is
dotenv.load_dotenv() # register the .env file where passwords are stored
sys.tracebacklimit = 0 # turn off the error tracebacks

### Problem 1 
Suppose that we have (fake) data on people who are currently being hospitalized. Here are five records in the data:

|patientID|patient|conditions|dateofbirth|age|sex|attendingphysician|APmedschool|APyearsexperiece|hospital|hospitallocation|
|-|-|-|-|-|-|-|-|-|-|-|
|1|Nkemdilim Arendonk|[Pneumonia, Diabetes]|2/21/1962|58|M|Earnest Caro|University of California (Irvine)|14|UPMC Presbyterian Shadyside|Pittsburgh, PA|
|2|Raniero Coumans|[Appendicitis, Crohn's disease]|8/15/1990|29|M|Pamela English|University of Michigan|29|Northwestern Memorial Hospital|Chicago, IL|
|3|Mizuki Debenham|[Kidney Cancer]|3/12/1977|43|F|Lewis Conti|North Carolina State University|8|Houston Methodist Hospital|Houston, TX|
|4|Zoë De Witt|[Cardiomyopathy, Diabetes, Sciatica]|11/23/1947|72|F|Theresa Dahlmans|Lake Erie College of Medicine|17|Mount Sinai Hospital|New York, NY|
|5|Bonnie Hooper|[Pancreatic Cancer, Sciatica]|7/4/1951|68|F|Steven Garbutt|Ohio State University|36|UCSF Medical Center|San Francisco, CA|

The columns in this dataset are:

* **patientID**: A number that uniquely identifies each patient. Different patients with the same name will have different ID numbers
* **patient**: The patient's name
* **conditions**: A list of the conditions that are relevant to the patient's hospitalization
* **dateofbirth**: The patient's date of birth
* **age**: The patient's age
* **sex**: The patient's sex
* **attendingphysician**: The name of the attending physician for the patient
* **APmedschool**: The name of the school where the attending physician got a medical degree
* **APyearsexperiece**: The attending physician's number of years of experience post-residency
* **hospital**: The hospital where the attending physicial is employed
* **hospitallocation**: The location of the hospital

For this problem, assume that 

1. Some people in the data share the same name, but no two people in the data share the same name and date of birth.

2. Every attending physician is employed at only one hospital.

3. Every hospital exists at only one location.

4. There's more than one doctor with the same name, but there are no doctors with the same name that work at the same hospital.

#### Part a 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of first normal form. [2 points]

The rules for 1NF are

1. Every table must have a primary key or superkey.

2. Every column must be atomic.

3. There are no repeating groups.

Let's consider rule 2 first. There is a column that contains non-atomic datapoints: the cells for condition contain lists. So we need to break the data up to store each of these conditions separately. 

However, that's where we run in to a problem with rule 3. Breaking condition into separate columns would require arbitrarily adding ordering language to these column names: *condition1*, *condition2*, *condition3*. In addition we would be generating missing values as not every patient has a second condition, and only one has a third condition.

We start by generating a table that lists the different conditions on separate rows and matches each condition to the patient that is hospitalized for that condition. I put both the patient's name and date of birth in the data as these two columns uniquely identify patients. I call this table DIAGNOSES:

$$DIAGNOSES$$

|patient|dateofbirth|condition|
|-|-|-|
|Nkemdilim Arendonk|2/21/1962|Pneumonia|
|Nkemdilim Arendonk|2/21/1962|Diabetes|
|Raniero Coumans|8/15/1990|Appendicitis|
|Raniero Coumans|8/15/1990|Crohn's disease|
|Mizuki Debenham|3/12/1977|Kidney Cancer|
|Zoë De Witt|11/23/1947|Cardiomyopathy|
|Zoë De Witt|11/23/1947|Diabetes|
|Zoë De Witt|11/23/1947|Sciatica|
|Bonnie Hooper|7/4/1951|Pancreatic Cancer|
|Bonnie Hooper|7/4/1951|Sciatica|

I then remove the conditions column from the original dataframe and I call this table PATIENTS:

$$PATIENTS$$

|patient|dateofbirth|age|sex|attendingphysician|APmedschool|APyearsexperiece|hospital|hospitallocation|
|-|-|-|-|-|-|-|-|-|
|Nkemdilim Arendonk|2/21/1962|58|M|Earnest Caro|University of California (Irvine)|14|UPMC Presbyterian Shadyside|Pittsburgh, PA|
|Raniero Coumans|8/15/1990|29|M|Pamela English|University of Michigan|29|Northwestern Memorial Hospital|Chicago, IL|
|Mizuki Debenham|3/12/1977|43|F|Lewis Conti|North Carolina State University|8|Houston Methodist Hospital|Houston, TX|
|Zoë De Witt|11/23/1947|72|F|Theresa Dahlmans|Lake Erie College of Medicine|17|Mount Sinai Hospital|New York, NY|
|Bonnie Hooper|7/4/1951|68|F|Steven Garbutt|Ohio State University|36|UCSF Medical Center|San Francisco, CA|

The data are now in 1NF. Each table has a primary key: for HOSPITALIZATIONS the rows are uniquely identified by the superkey containing patient and date of birth, and for DIAGNOSES the rows are uniquely identified by patient, date of birth, and condition. There are no longer any non-atomic columns in either table, and there are no repeating groups.

#### Part b 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of second normal form. [2 points]

The rules for 2NF are

1. The data must already be in 1NF, and

2. Every non-prime attribute must depend on the entire primary key.

Non-prime attributes are columns that are not part of the primary key. In PATIENTS, the primary key contains patient and date of birth, and the non-prime attributes are age, sex, attending physician, the attending physician's medical school, the attending physician's years of experiece, the hospital, and the hospital's location. The second rule for 2NF says that all of the non-prime attributes must depend on both the patient's name and date of birth. 

That is not true in this case because age depends on date of birth but does not depend on the patient's name.

To fix this problem, we can create a new column with a unique numeric ID for every patient. Then all of the other attributes depend on the patient ID, which is now the entire primark key.

The PATIENTS entity is now

$$PATIENTS$$

|patientID|patient|dateofbirth|age|sex|attendingphysician|APmedschool|APyearsexperiece|hospital|hospitallocation|
|-|-|-|-|-|-|-|-|-|-|
|1|Nkemdilim Arendonk|2/21/1962|58|M|Earnest Caro|University of California (Irvine)|14|UPMC Presbyterian Shadyside|Pittsburgh, PA|
|2|Raniero Coumans|8/15/1990|29|M|Pamela English|University of Michigan|29|Northwestern Memorial Hospital|Chicago, IL|
|3|Mizuki Debenham|3/12/1977|43|F|Lewis Conti|North Carolina State University|8|Houston Methodist Hospital|Houston, TX|
|4|Zoë De Witt|11/23/1947|72|F|Theresa Dahlmans|Lake Erie College of Medicine|17|Mount Sinai Hospital|New York, NY|
|5|Bonnie Hooper|7/4/1951|68|F|Steven Garbutt|Ohio State University|36|UCSF Medical Center|San Francisco, CA|

For DIAGNOSES, we replace the patient's name and date of birth with the patient's ID number:

$$DIAGNOSES$$

|patientID|condition|
|-|-|
|1|Pneumonia|
|1|Diabetes|
|2|Appendicitis|
|2|Crohn's disease|
|3|Kidney Cancer|
|4|Cardiomyopathy|
|4|Diabetes|
|4|Sciatica|
|5|Pancreatic Cancer|
|5|Sciatica|

#### Part c 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of third normal form. 

Note that the patient's age is a derived attribute from the patient's date of birth, but please don't make an extra data table just for age. In principle, if we are worried about data inconsistencies we can simply remove age from the database and calculate it when needed from date of birth. But for this exercise, leave age in the table and ignore its dependency with date of birth. [2 points]

The rules for 3NF are

1. The data must be in 2NF, and

2. there must not be any transitive dependencies.

A transitive dependency exists when a non-prime attribute (a column that's not part of the primary key) depends on another non-prime attribute. We have many non-prime attributes in the HOSPITALIZATIONS entity:

* The attending physician's medical school and years of experience depend on the attending physician.

* Hospital depends on attending physician as each attending physician works at only one hospital.

* The hospital location depends on the hospital.

To create a 3NF version of the data, we first replace the columns in PATIENTS that describe the physician and the hospital with a numeric physician ID:

$$PATIENTS$$

|patientID|patient|dateofbirth|age|sex|physicianID|
|-|-|-|-|-|-|
|1|Nkemdilim Arendonk|2/21/1962|58|M|101|
|2|Raniero Coumans|8/15/1990|29|M|102|
|3|Mizuki Debenham|3/12/1977|43|F|103|
|4|Zoë De Witt|11/23/1947|72|F|104|
|5|Bonnie Hooper|7/4/1951|68|F|105|

Next we create a PHYSICIANS entity that contains the columns we removed, except for the two hospital attributes, which we replace with a hospitalID:

$$PHYSICIANS$$

|physicianID|attendingphysician|APmedschool|APyearsexperiece|hospitalID|
|-|-|-|-|-|
|101|Earnest Caro|University of California (Irvine)|14|1001|
|102|Pamela English|University of Michigan|29|1002|
|103|Lewis Conti|North Carolina State University|8|1003|
|104|Theresa Dahlmans|Lake Erie College of Medicine|17|1004|
|105|Steven Garbutt|Ohio State University|36|1005|

Finally we create a HOSPITALS entity:

$$HOSPITALS$$

|hospitalID|hospital|hospitallocation|
|-|-|-|
|1001|UPMC Presbyterian Shadyside|Pittsburgh, PA|
|1002|Northwestern Memorial Hospital|Chicago, IL|
|1003|Houston Methodist Hospital|Houston, TX|
|1004|Mount Sinai Hospital|New York, NY|
|1005|UCSF Medical Center|San Francisco, CA|

Together, PATIENTS, DIAGNOSES, PHYSICIANS, and HOSPITALS comprise a relational database in 3NF.

### Problem 2
For this problem, create ER diagrams of the database you created in problem 1, part c using draw.io: https://app.diagrams.net/. The symbols used for both Chen's notation and IE notation are on the left-hand toolbar.

#### Part a 
Create a conceptual ER diagram using Chen's notation. [2 points]

The relationships in this database are 

* PATIENTS "with" DIAGNOSES

* PATIENTS "treated by" PHYSICIANS

* PHYSICIANS "work at" HOSPITALS

Patients have a many-to-many relationship with diagnoses: one patient can have many diagnoses, and one diagnosis is shared by many patients. 

Patients have a many-to-one relationship with physicians: one patient sees one doctor, but each doctor sees many patients.

Likewise, physicians have a many-to-one relationship with hospitals: one physician works at one hospital, but one hospital employs many physicians.

Because DIAGNOSES uses a foreign key, patient ID, as part of its primary key, DIAGNOSES is a weak entity (in other words, there is no diagnosis without a patient).

The conceptual diagram that relays this information is:

<img src="https://github.com/jkropko/DS-6001/raw/master/localimages/lab6_1_4.png" width="600">

#### Part b 
Create a logical ER diagram using Chen's notation. [2 points]

This ER diagram adds the attributes. The primary keys are underlined. Condition is a partial key in the DIAGNOSES entity, so it gets underlined as well. We do not add foreign keys to these entities, as the relationship with another entity implies the existence of a foreign key. Age is a derived attribute, so it's oval is outlined in dashes: 

<img src="https://github.com/jkropko/DS-6001/raw/master/localimages/lab6_2_5.png" width="800">

#### Part c 
Create a conceptual ER diagram using IE notation. [2 points]

The tricky part of this IE diagram is expressing the many-to-many weak relationship between PATIENTS and DIAGNOSES. We can solve that by including both patientID and condition in the DIAGNOSES entity, The ER diagram in IE notation is:

<img src="https://github.com/jkropko/DS-6001/raw/master/localimages/lab6_3.png" width="600">

### Problem 3
For this problem, you will download the individual CSV files that comprise a relational database on album reviews from [Pitchfork Magazine](https://pitchfork.com/), collected via webscraping by [Nolan B. Conaway](https://github.com/nolanbconaway/pitchfork-data), and use them to initialize local databases using SQlite, MySQL, and PostgreSQL. 

To get the data, first set the working directory the folder on your computer to the folder where you want the CSV files to be. This should be the same folder where you saved our lab notebook and all associated files. Then change this line of code to the address for that folder:

In [2]:
os.chdir("/Users/jk8sd/Downloads")

The following code of code will download the CSV files. Please run this as is:

In [3]:
url = "https://github.com/nolanbconaway/pitchfork-data/raw/master/pitchfork.db"
pfork = wget.download(url)
pitchfork = sqlite3.connect(pfork)
for t in ['artists','content','genres','labels','reviews','years']:
    datatable = pd.read_sql_query("SELECT * FROM {tab}".format(tab=t), pitchfork)
    datatable.to_csv("{tab}.csv".format(tab=t))

Note: this code downloaded a SQlite database and extracted the tables, saving each one as a CSV. That seems backwards, as the purpose of this exercise is to create databases. But the point is to practice creating databases from individual data frames. Next we load the CSVs to create the data frames in Python:

In [4]:
reviews = pd.read_csv("reviews.csv")
artists = pd.read_csv("artists.csv")
content = pd.read_csv("content.csv")
genres = pd.read_csv("genres.csv")
labels = pd.read_csv("labels.csv")
years = pd.read_csv("years.csv")

#### Part a
Initialize a new database using SQlite and the `sqlite3` library. Add the six dataframes to this database. Then issue the following query to the database
```
SELECT title, artist, score FROM reviews WHERE score=10
```
using two methods: first, using the `.cursor()` method, and second using `pd.read_sql_query()`. Finally, commit your changes to the database and close the database. (If you get a warning about spaces in the column names, feel free to ignore it this time.) [2 points]

First I initialize a new database using `sqlite3`:

In [5]:
pitchfork_db = sqlite3.connect("pitchfork.db")

Next I add the six dataframes to this database:

In [6]:
reviews.to_sql('reviews', pitchfork_db, index=False, if_exists='replace')
artists.to_sql('artists', pitchfork_db, index=False, if_exists='replace')
content.to_sql('content', pitchfork_db, index=False, if_exists='replace')
genres.to_sql('genres', pitchfork_db, index=False, if_exists='replace')
labels.to_sql('labels', pitchfork_db, index=False, if_exists='replace')
years.to_sql('years', pitchfork_db, index=False, if_exists='replace')

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

To query the database, I can use the cursor, like this:

In [7]:
pitchfork_cursor = pitchfork_db.cursor()
pitchfork_cursor.execute("SELECT title, artist, score FROM reviews WHERE score=10")
colnames = [x[0] for x in pitchfork_cursor.description]
pitchfork_df = pitchfork_cursor.fetchall()
pd.DataFrame(pitchfork_df, columns=colnames)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

I also query the database using the `pd.read_sql_query()` function:

In [8]:
pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score=10", pitchfork_db)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

Finally, I commit the changes and close the database:

In [9]:
pitchfork_db.commit()
pitchfork_db.close()

#### Part b
Follow the instructions in the Jupyter notebook for this module to install MySQL and `mysql.connector` on your computer. Make sure the MySQL server is running. Then import `mysql.connector` and do all of the tasks listed for part a using a MySQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [2 points]

I installed MySQL and `mysql.connector`, and I made sure the local MySQL server was running. I can now import the `mysql.connector` module:

In [10]:
import mysql.connector

To hide my password, I write and save it in a `.env` file and load it here:

In [11]:
mysqlpassword = os.getenv("mysqlpassword")

Next I connect to the MySQL server:

In [12]:
dbserver = mysql.connector.connect(
    user='root', 
    passwd=mysqlpassword, 
    host="localhost"
)

I create a new database on this server (deleting any existing version of this database first):

In [13]:
cursor = dbserver.cursor()
try:
    cursor.execute("CREATE DATABASE pitchfork")
except:
    cursor.execute("DROP DATABASE pitchfork")
    cursor.execute("CREATE DATABASE pitchfork")

To import the six dataframes into this database as entities, I create an engine with `sqlalchemy`:

In [14]:
engine = sqlalchemy.create_engine("mysql+mysqlconnector://{user}:{pw}@localhost/{db}?charset=utf8&use_pure"
                       .format(user="root", pw=mysqlpassword, db="pitchfork"), encoding="utf8")

I can now import data into the database:

In [15]:
reviews.to_sql('reviews', con=engine, index=False, chunksize = 1000, if_exists='replace')
artists.to_sql('artists', con=engine, index=False, chunksize = 1000, if_exists='replace')
content.to_sql('content', con=engine, index=False, chunksize = 1000, if_exists='replace')
genres.to_sql('genres', con=engine, index=False, chunksize = 1000, if_exists='replace')
labels.to_sql('labels', con=engine, index=False, chunksize = 1000, if_exists='replace')
years.to_sql('years', con=engine, index=False, chunksize = 1000, if_exists='replace')

To issue a query using the cursor, I first open a direct connection to the `pitchfork` database:

In [16]:
pitchfork = mysql.connector.connect(
    user='root', 
    password=mysqlpassword, 
    host="localhost",
    database="pitchfork"
)
cursor = pitchfork.cursor()

Then I use the cursor to issue the query:

In [17]:
cursor.execute("SELECT title, artist, score FROM reviews WHERE score=10")
colnames = [x[0] for x in cursor.description]
pitchfork_df = cursor.fetchall()
pd.DataFrame(pitchfork_df, columns=colnames)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

Alternatively, I can use the `sqlalchemy` engine with the `pd.read_sql_query()` function:

In [18]:
pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score=10", pitchfork)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

Finally I commit the changes to the database and close the connection:

In [19]:
dbserver.commit()
dbserver.close()

#### Part c
Follow the instructions in the Jupyter notebook for this module to install PostgreSQL and `psycopg2` on your computer. Then import `psycopg2` and do all of the tasks listed for part a using a PostgreSQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [2 points]

I installed PostgreSQL and `psycopg2`. I can now import the `psycopg2` library:

In [20]:
import psycopg2

To hide my password, I write and save it in a `.env` file and load it here:

In [21]:
pgpassword = os.getenv("pgpassword")

Next I connect to the PostgreSQL server and turn on the autocommit behavior:

In [22]:
dbserver = psycopg2.connect(
    user='jk8sd', 
    password=pgpassword, 
    host="localhost"
)
dbserver.autocommit = True

I create a new database on this server (deleting any existing version of this database first):

In [ ]:
cursor = dbserver.cursor()
try:
    cursor.execute("CREATE DATABASE pitchfork")
except:
    cursor.execute("DROP DATABASE pitchfork")
    cursor.execute("CREATE DATABASE pitchfork")

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
psycopg2.errors.DuplicateDatabase: database "pitchfork" already exists


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
psycopg2.errors.ObjectInUse: database "pitchfork" is being accessed by other users
DETAIL:  There is 1 other session using the database.


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'ObjectInUse' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError
Traceback (most recent call last):
psycopg2.errors.DuplicateDatabase: database "pitchfork" already exists


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
psycopg2.errors.ObjectInUse: database "pitchfork" is being accessed by other users
DETAIL:  There is 1 other session using the database.


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'ObjectInUse' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: can only concatenate str (not "list") to str

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError
Traceback (most recent call last):
psycopg2.errors.DuplicateDatabase: database "pitchfork" already exists


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
psycopg2.errors.ObjectInUse: database "pitchfork" is being accessed by other users
DETAIL:  There is 1 other session using the database.


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'ObjectInUse' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: can only concatenate str (not "list") to str

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
TypeError: can only concatenate str (not "list") to str

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
AssertionError

To import the six dataframes into this database as entities, I create an engine with `sqlalchemy`:

In [23]:
engine = sqlalchemy.create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
                       .format(user="jk8sd", pw=pgpassword, db="pitchfork"))

ERROR! Session/line number was not unique in database. History logging moved to new session 1066

I can now import data into the database:

In [24]:
reviews.to_sql('reviews', con=engine, index=False, chunksize = 1000, if_exists='replace')
artists.to_sql('artists', con=engine, index=False, chunksize = 1000, if_exists='replace')
content.to_sql('content', con=engine, index=False, chunksize = 1000, if_exists='replace')
genres.to_sql('genres', con=engine, index=False, chunksize = 1000, if_exists='replace')
labels.to_sql('labels', con=engine, index=False, chunksize = 1000, if_exists='replace')
years.to_sql('years', con=engine, index=False, chunksize = 1000, if_exists='replace')

To issue a query using the cursor, I first open a direct connection to the `pitchfork` database:

In [25]:
pitchfork = psycopg2.connect(
    user='jk8sd', 
    password=pgpassword, 
    host="localhost",
    database="pitchfork"
)
cursor = pitchfork.cursor()

Then I use the cursor to issue the query:

In [26]:
cursor.execute("SELECT title, artist, score FROM reviews WHERE score=10")
colnames = [x[0] for x in cursor.description]
pitchfork_df = cursor.fetchall()
pd.DataFrame(pitchfork_df, columns=colnames)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

Alternatively, I can use the `sqlalchemy` engine with the `pd.read_sql_query()` function:

In [27]:
pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score=10", pitchfork)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

Finally I commit the changes to the database and close the connection:

In [28]:
dbserver.commit()
dbserver.close()

### Problem 4
[Colin Mitchell](http://muffinlabs.com/) is a web-developer and artist who has a bunch of [cool projects](http://muffinlabs.com/projects.html) that play with what data can do on the internet. One of his projects is [Today in History](https://history.muffinlabs.com/), which provides an API to access all the Wikipedia pages for historical events that happened on this day in JSON format. The records in this JSON are stored in the `['data']['events']` path. Here's the first listing for today:

In [29]:
history = requests.get("https://history.muffinlabs.com/date")
history_json = json.loads(history.text)
events = history_json['data']['Events']
events[0]

{'year': '756',
 'text': "An Lushan Rebellion: Emperor Xuanzong flees the capital Chang'an as An Lushan's forces advance toward the city.[citation needed]",
 'html': '756 - <a href="https://wikipedia.org/wiki/An_Lushan_Rebellion" title="An Lushan Rebellion">An Lushan Rebellion</a>: <a href="https://wikipedia.org/wiki/Emperor_Xuanzong_of_Tang" title="Emperor Xuanzong of Tang">Emperor Xuanzong</a> flees the capital <a href="https://wikipedia.org/wiki/Chang%27an" title="Chang\'an">Chang\'an</a> as <a href="https://wikipedia.org/wiki/An_Lushan" title="An Lushan">An Lushan</a>\'s forces advance toward the city.',
 'no_year_html': '<a href="https://wikipedia.org/wiki/An_Lushan_Rebellion" title="An Lushan Rebellion">An Lushan Rebellion</a>: <a href="https://wikipedia.org/wiki/Emperor_Xuanzong_of_Tang" title="Emperor Xuanzong of Tang">Emperor Xuanzong</a> flees the capital <a href="https://wikipedia.org/wiki/Chang%27an" title="Chang\'an">Chang\'an</a> as <a href="https://wikipedia.org/wiki/An_Lushan" title="An Lushan">An Lushan</a>\'s forces advance toward the city.',
 'links': [{'title': 'An Lushan Rebellion',
   'link': 'https://wikipedia.org/wiki/An_Lushan_Rebellion'},
  {'title': 'Emperor Xuanzong of Tang',
   'link': 'https://wikipedia.org/wiki/Emperor_Xuanzong_of_Tang'},
  {'title': "Chang'an", 'link': 'https://wikipedia.org/wiki/Chang%27an'},
  {'title': 'An Lushan', 'link': 'https://wikipedia.org/wiki/An_Lushan'}]}

For this problem, you will use MongoDB and the `pymongo` library to create a local document store NoSQL database containing these historical events.

Follow the instructions in the Jupyter notebook for this module to install MongoDB and `pymongo` on your computer. Make sure the local MongoDB server is running. Then import `pymongo`, connect to the local MongoDB client, create a database named "history" and a collection within that database named "today". Insert all of the records in `events` into this collection. Then issue the following query to find all of the records whose text contain the word "Virginia":
```
query = {
    "text":{
        "$regex": 'Virginia'
    }
}
```
If there are no results that contain the word "Virginia", choose a different work like "England" or "China". Display the count of the number of documents that match this query, display the output of the query, and generate a JSON formatted variable containing the output. [2 points]

I installed MongoDB and the `pymongo` library. I load `pymongo`:

In [30]:
import pymongo

Next I connect to the MongoDB server running on my computer:

In [31]:
myclient = pymongo.MongoClient("mongodb://localhost/")

I create a database named "history" and a collection named "today". Because I will be running this code several times as I work, debugging as I go along, it's useful for me to delete any existing "today" collections before creating a new "today" collection:

In [32]:
history = myclient["history"]

collist = history.list_collection_names()
if "today" in collist:
  history.today.drop()
today = history["today"]

In [33]:
type(events)

list

Next I put all of the records in `events` into the `today` collection:

In [34]:
today.insert_many(events)

I can now issue the query:

In [35]:
query = {
    "text":{
        "$regex": 'Hamilton'
    }
}
today.count_documents(query)

0

To display this record, I can either use a loop that prints each record:

In [36]:
results = today.find(query)
for x in results:
    print(x)

To work with the result in JSON format, I use the `loads` and `dumps` methods from the `bson.json_util` module:

In [37]:
from bson.json_util import loads, dumps
results_text = dumps(today.find(query))
results_json = loads(results_text)
results_json

[]

In [38]:
content.to_csv('content.csv')

In [39]:
os.getcwd()

'/Users/jk8sd/Downloads'